*{
    margin : 0;
    padding: 0;
}
.ageInDays, .puppiesGenerator, .colorChange, .rpsChallenge{
    width:75%;
    margin:auto;
    border: 1px solid black;
}
.ageChallengeHeading , .puppiesChallengeHeading, .colorChangeHeading, .rpsChallengeHeading{
    /* display:flex; */
    text-align: center;
    border: 1px solid black;
}
.ageChallengebuttonDiv,.puppiesChallengeButtonDiv, .colorChallengeButtonDiv, .rpsChallengeContainer,#resultRPS{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
}
#resultpuppiesGenerator img,.rpsChallengeContainer img{
    height:200px;
    width: 250px;
    margin:10px;
    box-shadow: 5px 10px 10px royalblue;
    cursor: pointer;

}
#resultAge,#resultpuppiesGenerator{
    display: flex;
    /* border: 1px solid black; */
    text-align : center;
    margin:auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
}